USE [JCARD_SCB]
GO
/****** Object:  Table [dbo].[D_ACQUIREBANK]    Script Date: 11/5/2025 12:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_ACQUIREBANK](
	[BANKCODE] [varchar](50) NULL,
	[DESCS] [varchar](200) NULL,
	[ID] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_APIM]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_APIM](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[APICODE] [varchar](100) NULL,
	[DESCS] [varchar](500) NULL,
	[APIBODY] [varchar](max) NULL,
	[METHOD] [varchar](10) NULL,
	[TYPE] [varchar](10) NULL,
	[CREATE_AT] [datetime2](7) NULL,
 CONSTRAINT [PK_D_APIM] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_APISTM]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_APISTM](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[TXREFID] [varchar](100) NULL,
	[TXDT] [datetime2](7) NULL,
	[TXTIME] [varchar](10) NULL,
	[TXCODE] [varchar](50) NULL,
	[MTI] [varchar](10) NULL,
	[STAN] [varchar](10) NULL,
	[DTXDT] [datetime2](7) NULL,
	[DVALUEDT] [datetime2](7) NULL,
	[TXUPDATEDT] [datetime2](7) NULL,
	[BANKCODE] [varchar](10) NULL,
	[BICCODE] [varchar](50) NULL,
	[CARDNO] [varchar](50) NULL,
	[ACNO] [varchar](50) NULL,
	[CARDBIN] [varchar](50) NULL,
	[CARDTYPE] [varchar](10) NULL,
	[RRN] [varchar](50) NULL,
	[CATID] [varchar](50) NULL,
	[PCODE] [varchar](50) NULL,
	[COMCODE] [varchar](50) NULL,
	[MERCODE] [varchar](50) NULL,
	[ISCOMPLETE] [varchar](1) NULL,
	[ISVOID] [varchar](1) NULL,
	[ISREVR] [varchar](1) NULL,
	[AMT] [numeric](19, 2) NULL,
	[CCYCODE] [varchar](3) NULL,
	[STATUS] [varchar](1) NULL,
	[ERRCODE] [varchar](500) NULL,
	[DESCS] [varchar](200) NULL,
	[RESPCD] [varchar](500) NULL,
	[CHAR01] [varchar](500) NULL,
	[CHAR02] [varchar](500) NULL,
	[CHAR03] [varchar](500) NULL,
	[CHAR04] [varchar](500) NULL,
	[CHAR05] [varchar](500) NULL,
	[CHAR06] [varchar](500) NULL,
	[CHAR07] [varchar](500) NULL,
	[CHAR08] [varchar](500) NULL,
	[CHAR09] [varchar](500) NULL,
	[CHAR10] [varchar](500) NULL,
	[CHAR11] [varchar](500) NULL,
	[CHAR12] [varchar](500) NULL,
	[CHAR13] [varchar](500) NULL,
	[CHAR14] [varchar](500) NULL,
	[CHAR15] [varchar](500) NULL,
	[CHAR16] [varchar](500) NULL,
	[CHAR17] [varchar](500) NULL,
	[CHAR18] [varchar](500) NULL,
	[CHAR19] [varchar](500) NULL,
	[CHAR20] [varchar](500) NULL,
	[NUM01] [numeric](19, 2) NULL,
	[NUM02] [numeric](19, 2) NULL,
	[NUM03] [numeric](19, 2) NULL,
	[NUM04] [numeric](19, 2) NULL,
	[NUM05] [numeric](19, 2) NULL,
	[NUM06] [numeric](19, 2) NULL,
	[NUM07] [numeric](19, 2) NULL,
	[NUM08] [numeric](19, 2) NULL,
	[NUM09] [numeric](19, 2) NULL,
	[NUM10] [numeric](19, 2) NULL,
	[NUM11] [numeric](19, 2) NULL,
	[NUM12] [numeric](19, 2) NULL,
	[NUM13] [numeric](19, 2) NULL,
	[NUM14] [numeric](19, 2) NULL,
	[NUM15] [numeric](19, 2) NULL,
	[NUM16] [numeric](19, 2) NULL,
	[NUM17] [numeric](19, 2) NULL,
	[NUM18] [numeric](19, 2) NULL,
	[NUM19] [numeric](19, 2) NULL,
	[NUM20] [numeric](19, 2) NULL,
	[DATE01] [datetime2](7) NULL,
	[DATE02] [datetime2](7) NULL,
	[DATE03] [datetime2](7) NULL,
	[DATE04] [datetime2](7) NULL,
	[DATE05] [datetime2](7) NULL,
	[BILLINFO] [varchar](1000) NULL,
	[TRANSID] [varchar](100) NULL,
	[ISCSHBACK] [varchar](1) NULL,
	[UPDATEDT] [datetime2](7) NULL,
 CONSTRAINT [D_APISTM_PKEY] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_BRANCHCODE]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_BRANCHCODE](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[BRANCHCODE] [varchar](50) NULL,
	[BRANCHNAME] [varchar](200) NULL,
	[CREATEDT] [datetime2](7) NULL,
 CONSTRAINT [PK_D_BRANCHCODE] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_CARDLST]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CARDLST](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[CARDNO] [varchar](50) NULL,
	[CARDTYPE] [varchar](50) NULL,
	[BRAND] [varchar](50) NULL,
	[CARDBIN] [varchar](50) NULL,
	[RRN] [varchar](50) NULL,
	[CARDPIN] [varchar](6) NULL,
	[HASHPIN] [varbinary](500) NULL,
	[CARDSTS] [varchar](1) NULL,
	[ACNO] [varchar](50) NULL,
	[STATUS] [varchar](1) NULL,
	[AUTHMETHOD] [varchar](50) NULL,
	[MAKER] [varchar](100) NULL,
	[APPROVER] [varchar](100) NULL,
	[CREATEDT] [datetime2](7) NULL,
 CONSTRAINT [D_CARDLST_PKEY] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [D_CARDLST_UniqueKey] UNIQUE NONCLUSTERED 
(
	[CARDNO] ASC,
	[ACNO] ASC,
	[RRN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_CASHACNO]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CASHACNO](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[ACCCODE] [varchar](100) NULL,
	[ACNO] [varchar](50) NULL,
	[CCYCODE] [varchar](10) NULL,
	[CREATEDT] [datetime2](7) NULL,
 CONSTRAINT [PK_D_CASHACNO] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_CASHBACK]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CASHBACK](
	[TXREFID] [varchar](100) NOT NULL,
	[REFERENCE_ID] [varchar](200) NULL,
	[TXDT] [datetime2](7) NULL,
	[TXCODE] [varchar](50) NULL,
	[AMT] [decimal](19, 2) NULL,
	[FEEAMT] [decimal](19, 2) NULL,
	[PCODE] [varchar](50) NULL,
	[DTXDT] [datetime2](7) NULL,
	[GL_ACCOUNT] [varchar](50) NULL,
	[GL_FEE] [decimal](19, 2) NULL,
	[CARDNO] [varchar](50) NULL,
	[ACNO] [varchar](50) NULL,
	[CARDBIN] [varchar](50) NULL,
	[RRN] [varchar](50) NULL,
	[STATUS] [varchar](1) NULL,
	[ERROR_DESCS] [varchar](500) NULL,
	[REFERENCE_NUMBER] [varchar](100) NULL,
	[DESCS] [varchar](500) NULL,
 CONSTRAINT [PK_D_CASHBACK] PRIMARY KEY CLUSTERED 
(
	[TXREFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_CCYLST]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CCYLST](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[CCYCODE] [varchar](50) NULL,
	[CCYNAME] [varchar](200) NULL,
	[CCYNUMBER] [varchar](50) NULL,
 CONSTRAINT [PK_D_CCYLST] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_CLEANLOG]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CLEANLOG](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[TXDT] [datetime2](7) NULL,
	[DESCS] [varchar](500) NULL,
	[RSQUERY] [varchar](100) NULL,
	[RESULT] [varchar](200) NULL,
	[STATUS] [varchar](1) NULL,
	[REQMESS] [varchar](500) NULL,
	[RESMESS] [varchar](500) NULL,
	[DTXDT] [datetime2](7) NULL,
 CONSTRAINT [D_CLEANLOG_PKEY] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_CODETYPE]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CODETYPE](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODETYPE] [varchar](100) NULL,
	[CODESUBTYPE] [varchar](100) NULL,
	[DESCS] [varchar](200) NULL,
 CONSTRAINT [PK_D_CODETYPE] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_EBSTM]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_EBSTM](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[TXREFID] [varchar](100) NULL,
	[TXDT] [datetime2](7) NULL,
	[TXTIME] [varchar](10) NULL,
	[TXCODE] [varchar](50) NULL,
	[MTI] [varchar](10) NULL,
	[STAN] [varchar](10) NULL,
	[DTXDT] [datetime2](7) NULL,
	[DVALUEDT] [datetime2](7) NULL,
	[TXUPDATEDT] [datetime2](7) NULL,
	[BANKCODE] [varchar](10) NULL,
	[BICCODE] [varchar](50) NULL,
	[CARDNO] [varchar](50) NULL,
	[ACNO] [varchar](50) NULL,
	[CARDBIN] [varchar](50) NULL,
	[CARDTYPE] [varchar](10) NULL,
	[RRN] [varchar](50) NULL,
	[CATID] [varchar](50) NULL,
	[PCODE] [varchar](50) NULL,
	[COMCODE] [varchar](50) NULL,
	[MERCODE] [varchar](50) NULL,
	[ISCOMPLETE] [varchar](1) NULL,
	[ISVOID] [varchar](1) NULL,
	[ISREVR] [varchar](1) NULL,
	[AMT] [numeric](19, 2) NULL,
	[CCYCODE] [varchar](3) NULL,
	[STATUS] [varchar](1) NULL,
	[ERRCODE] [varchar](500) NULL,
	[DESCS] [varchar](200) NULL,
	[RESPCD] [varchar](500) NULL,
	[CHAR01] [varchar](500) NULL,
	[CHAR02] [varchar](500) NULL,
	[CHAR03] [varchar](500) NULL,
	[CHAR04] [varchar](500) NULL,
	[CHAR05] [varchar](500) NULL,
	[CHAR06] [varchar](500) NULL,
	[CHAR07] [varchar](500) NULL,
	[CHAR08] [varchar](500) NULL,
	[CHAR09] [varchar](500) NULL,
	[CHAR10] [varchar](500) NULL,
	[CHAR11] [varchar](500) NULL,
	[CHAR12] [varchar](500) NULL,
	[CHAR13] [varchar](500) NULL,
	[CHAR14] [varchar](500) NULL,
	[CHAR15] [varchar](500) NULL,
	[CHAR16] [varchar](500) NULL,
	[CHAR17] [varchar](500) NULL,
	[CHAR18] [varchar](500) NULL,
	[CHAR19] [varchar](500) NULL,
	[CHAR20] [varchar](500) NULL,
	[CHAR21] [varchar](500) NULL,
	[CHAR22] [varchar](500) NULL,
	[CHAR23] [varchar](500) NULL,
	[CHAR24] [varchar](500) NULL,
	[CHAR25] [varchar](500) NULL,
	[CHAR26] [varchar](500) NULL,
	[CHAR27] [varchar](500) NULL,
	[CHAR28] [varchar](500) NULL,
	[CHAR29] [varchar](500) NULL,
	[CHAR30] [varchar](500) NULL,
	[CHAR31] [varchar](500) NULL,
	[CHAR32] [varchar](500) NULL,
	[CHAR33] [varchar](500) NULL,
	[CHAR34] [varchar](500) NULL,
	[CHAR35] [varchar](500) NULL,
	[CHAR36] [varchar](500) NULL,
	[CHAR37] [varchar](500) NULL,
	[CHAR38] [varchar](500) NULL,
	[CHAR39] [varchar](500) NULL,
	[CHAR40] [varchar](500) NULL,
	[CHAR41] [varchar](500) NULL,
	[CHAR42] [varchar](500) NULL,
	[CHAR43] [varchar](500) NULL,
	[CHAR44] [varchar](500) NULL,
	[CHAR45] [varchar](500) NULL,
	[CHAR46] [varchar](500) NULL,
	[CHAR47] [varchar](500) NULL,
	[CHAR48] [varchar](500) NULL,
	[CHAR49] [varchar](500) NULL,
	[CHAR50] [varchar](500) NULL,
	[NUM01] [numeric](19, 2) NULL,
	[NUM02] [numeric](19, 2) NULL,
	[NUM03] [numeric](19, 2) NULL,
	[NUM04] [numeric](19, 2) NULL,
	[NUM05] [numeric](19, 2) NULL,
	[NUM06] [numeric](19, 2) NULL,
	[NUM07] [numeric](19, 2) NULL,
	[NUM08] [numeric](19, 2) NULL,
	[NUM09] [numeric](19, 2) NULL,
	[NUM10] [numeric](19, 2) NULL,
	[NUM11] [numeric](19, 2) NULL,
	[NUM12] [numeric](19, 2) NULL,
	[NUM13] [numeric](19, 2) NULL,
	[NUM14] [numeric](19, 2) NULL,
	[NUM15] [numeric](19, 2) NULL,
	[NUM16] [numeric](19, 2) NULL,
	[NUM17] [numeric](19, 2) NULL,
	[NUM18] [numeric](19, 2) NULL,
	[NUM19] [numeric](19, 2) NULL,
	[NUM20] [numeric](19, 2) NULL,
	[DATE01] [datetime2](7) NULL,
	[DATE02] [datetime2](7) NULL,
	[DATE03] [datetime2](7) NULL,
	[DATE04] [datetime2](7) NULL,
	[DATE05] [datetime2](7) NULL,
	[DATE06] [datetime2](7) NULL,
	[DATE07] [datetime2](7) NULL,
	[DATE08] [datetime2](7) NULL,
	[DATE09] [datetime2](7) NULL,
	[DATE10] [datetime2](7) NULL,
	[BILLINFO] [varchar](1000) NULL,
	[TRANSID] [varchar](100) NULL,
	[ISCSHBACK] [varchar](1) NULL,
	[UPDATEDT] [datetime2](7) NULL,
 CONSTRAINT [D_EBSTM_PKEY] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_FEEDEF]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_FEEDEF](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[FEECODE] [varchar](10) NULL,
	[FEENAME] [varchar](200) NULL,
	[FEECCY] [varchar](3) NULL,
	[FEEAMT] [decimal](19, 2) NULL,
	[MARGINVAL] [decimal](19, 2) NULL,
	[ISDISCOUNT] [varchar](1) NULL,
	[DISCOUNTVAL] [decimal](19, 2) NULL,
	[PERCENTVAL] [decimal](19, 2) NULL,
	[FORMULAR] [varchar](200) NULL,
	[ROUNDBY] [varchar](10) NULL,
	[APPLIEDON] [varchar](200) NULL,
	[APPLIEDWHEN] [varchar](200) NULL,
	[FEESTS] [varchar](1) NULL,
	[CREATEDT] [datetime2](7) NULL,
	[MODIFYDT] [datetime2](7) NULL,
	[REMARK] [varchar](200) NULL,
	[DESCS] [varchar](500) NULL,
 CONSTRAINT [PK_D_FEEDEF] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_FILELST]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_FILELST](
	[FILEID] [varchar](100) NULL,
	[FILENAME] [varchar](200) NULL,
	[FILETYPE] [varchar](10) NULL,
	[FILEDT] [datetime2](7) NULL,
	[FILESTATUS] [varchar](10) NULL,
	[DESCS] [varchar](max) NULL,
	[REMARK] [varchar](500) NULL,
	[FILESIZE] [varchar](10) NULL,
	[USRID] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_GLCOLLECTFEE]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_GLCOLLECTFEE](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[FEECODE] [varchar](50) NULL,
	[ACCLST] [varchar](100) NULL,
	[CREATEDT] [datetime2](7) NULL,
 CONSTRAINT [PK_D_GLCOLLECTFEE] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_OFFLINEFEES]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_OFFLINEFEES](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[TXCODE] [varchar](100) NULL,
	[FEECODE] [varchar](10) NULL,
	[ACCLST] [varchar](500) NULL,
	[CREATEDT] [datetime2](7) NULL,
 CONSTRAINT [PK_D_OFFLINEFEES] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_OTPINFO]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_OTPINFO](
	[recid] [bigint] IDENTITY(1,1) NOT NULL,
	[txrefid] [varchar](100) NULL,
	[txcode] [varchar](50) NULL,
	[sercode] [varchar](100) NULL,
	[requestbody] [varchar](500) NULL,
	[otp] [varchar](6) NULL,
	[otpsts] [varchar](1) NULL,
	[expiredatetime] [datetime2](7) NULL,
	[txdt] [datetime2](7) NULL,
	[duration] [varchar](100) NULL,
 CONSTRAINT [D_OTPINFO_PKEY] PRIMARY KEY CLUSTERED 
(
	[recid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_SCHEDULECONFIGURATION]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_SCHEDULECONFIGURATION](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[SCHEDULECODE] [varchar](50) NULL,
	[NAME] [varchar](200) NULL,
	[JOBCODE] [varchar](50) NULL,
	[JOBBODY] [varchar](max) NULL,
	[STEPORD] [varchar](10) NULL,
	[DESCS] [varchar](500) NULL,
	[STATUS] [varchar](1) NULL,
	[VERSION_NUMBER] [varchar](50) NULL,
	[CREATE_AT] [datetime2](7) NULL,
 CONSTRAINT [PK_D_SCHEDULECONFIGURATION] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_SCHEDULEEXECUTION]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_SCHEDULEEXECUTION](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[TXREFID] [varchar](100) NULL,
	[TXDT] [datetime2](7) NULL,
	[SCHEDULECODE] [varchar](50) NULL,
	[STATUS] [varchar](1) NULL,
	[EXECSTARTTIME] [varchar](50) NULL,
	[EXECENDTIME] [varchar](50) NULL,
	[ERRORDESCS] [varchar](max) NULL,
 CONSTRAINT [PK_D_SCHEDULEEXECUTION] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_TXDEF]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_TXDEF](
	[recid] [bigint] IDENTITY(1,1) NOT NULL,
	[txcode] [varchar](50) NULL,
	[txname] [varchar](200) NULL,
	[descs] [varchar](200) NULL,
	[status] [varchar](10) NULL,
	[createdt] [datetime2](7) NULL,
 CONSTRAINT [PK_D_TXDEF] PRIMARY KEY CLUSTERED 
(
	[recid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_WORKFLOW]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_WORKFLOW](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[TXREFID] [varchar](100) NULL,
	[TXDT] [datetime2](7) NULL,
	[SERCODE] [varchar](100) NULL,
	[TXCODE] [varchar](50) NULL,
	[REQUESTMESS] [varchar](max) NULL,
	[RESPONSEMESS] [varchar](max) NULL,
	[WFDESC] [varchar](200) NULL,
	[STATUS] [varchar](1) NULL,
	[DTXDT] [datetime2](7) NULL,
 CONSTRAINT [D_WORKFLOW_PKEY] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_APISTM]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_APISTM](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[TXREFID] [varchar](100) NULL,
	[TXDT] [datetime2](7) NULL,
	[TXTIME] [varchar](10) NULL,
	[TXCODE] [varchar](50) NULL,
	[MTI] [varchar](10) NULL,
	[STAN] [varchar](10) NULL,
	[DTXDT] [datetime2](7) NULL,
	[DVALUEDT] [datetime2](7) NULL,
	[TXUPDATEDT] [datetime2](7) NULL,
	[BANKCODE] [varchar](10) NULL,
	[BICCODE] [varchar](50) NULL,
	[CARDNO] [varchar](50) NULL,
	[ACNO] [varchar](50) NULL,
	[CARDBIN] [varchar](50) NULL,
	[CARDTYPE] [varchar](10) NULL,
	[RRN] [varchar](50) NULL,
	[CATID] [varchar](50) NULL,
	[PCODE] [varchar](50) NULL,
	[COMCODE] [varchar](50) NULL,
	[MERCODE] [varchar](50) NULL,
	[ISCOMPLETE] [varchar](1) NULL,
	[ISVOID] [varchar](1) NULL,
	[ISREVR] [varchar](1) NULL,
	[AMT] [numeric](19, 2) NULL,
	[CCYCODE] [varchar](3) NULL,
	[STATUS] [varchar](1) NULL,
	[ERRCODE] [varchar](500) NULL,
	[DESCS] [varchar](200) NULL,
	[RESPCD] [varchar](500) NULL,
	[CHAR01] [varchar](500) NULL,
	[CHAR02] [varchar](500) NULL,
	[CHAR03] [varchar](500) NULL,
	[CHAR04] [varchar](500) NULL,
	[CHAR05] [varchar](500) NULL,
	[CHAR06] [varchar](500) NULL,
	[CHAR07] [varchar](500) NULL,
	[CHAR08] [varchar](500) NULL,
	[CHAR09] [varchar](500) NULL,
	[CHAR10] [varchar](500) NULL,
	[CHAR11] [varchar](500) NULL,
	[CHAR12] [varchar](500) NULL,
	[CHAR13] [varchar](500) NULL,
	[CHAR14] [varchar](500) NULL,
	[CHAR15] [varchar](500) NULL,
	[CHAR16] [varchar](500) NULL,
	[CHAR17] [varchar](500) NULL,
	[CHAR18] [varchar](500) NULL,
	[CHAR19] [varchar](500) NULL,
	[CHAR20] [varchar](500) NULL,
	[NUM01] [numeric](19, 2) NULL,
	[NUM02] [numeric](19, 2) NULL,
	[NUM03] [numeric](19, 2) NULL,
	[NUM04] [numeric](19, 2) NULL,
	[NUM05] [numeric](19, 2) NULL,
	[NUM06] [numeric](19, 2) NULL,
	[NUM07] [numeric](19, 2) NULL,
	[NUM08] [numeric](19, 2) NULL,
	[NUM09] [numeric](19, 2) NULL,
	[NUM10] [numeric](19, 2) NULL,
	[NUM11] [numeric](19, 2) NULL,
	[NUM12] [numeric](19, 2) NULL,
	[NUM13] [numeric](19, 2) NULL,
	[NUM14] [numeric](19, 2) NULL,
	[NUM15] [numeric](19, 2) NULL,
	[NUM16] [numeric](19, 2) NULL,
	[NUM17] [numeric](19, 2) NULL,
	[NUM18] [numeric](19, 2) NULL,
	[NUM19] [numeric](19, 2) NULL,
	[NUM20] [numeric](19, 2) NULL,
	[DATE01] [datetime2](7) NULL,
	[DATE02] [datetime2](7) NULL,
	[DATE03] [datetime2](7) NULL,
	[DATE04] [datetime2](7) NULL,
	[DATE05] [datetime2](7) NULL,
	[BILLINFO] [varchar](1000) NULL,
	[TRANSID] [varchar](100) NULL,
	[ISCSHBACK] [varchar](1) NULL,
	[UPDATEDT] [datetime2](7) NULL,
 CONSTRAINT [R_APISTM_PKEY] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_EBSTM]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_EBSTM](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[TXREFID] [varchar](100) NULL,
	[TXDT] [datetime2](7) NULL,
	[TXTIME] [varchar](10) NULL,
	[TXCODE] [varchar](50) NULL,
	[MTI] [varchar](10) NULL,
	[STAN] [varchar](10) NULL,
	[DTXDT] [datetime2](7) NULL,
	[DVALUEDT] [datetime2](7) NULL,
	[TXUPDATEDT] [datetime2](7) NULL,
	[BANKCODE] [varchar](10) NULL,
	[BICCODE] [varchar](50) NULL,
	[CARDNO] [varchar](50) NULL,
	[ACNO] [varchar](50) NULL,
	[CARDBIN] [varchar](50) NULL,
	[CARDTYPE] [varchar](10) NULL,
	[RRN] [varchar](50) NULL,
	[CATID] [varchar](50) NULL,
	[PCODE] [varchar](50) NULL,
	[COMCODE] [varchar](50) NULL,
	[MERCODE] [varchar](50) NULL,
	[ISCOMPLETE] [varchar](1) NULL,
	[ISVOID] [varchar](1) NULL,
	[ISREVR] [varchar](1) NULL,
	[AMT] [numeric](19, 2) NULL,
	[CCYCODE] [varchar](3) NULL,
	[STATUS] [varchar](1) NULL,
	[ERRCODE] [varchar](500) NULL,
	[DESCS] [varchar](200) NULL,
	[RESPCD] [varchar](500) NULL,
	[CHAR01] [varchar](500) NULL,
	[CHAR02] [varchar](500) NULL,
	[CHAR03] [varchar](500) NULL,
	[CHAR04] [varchar](500) NULL,
	[CHAR05] [varchar](500) NULL,
	[CHAR06] [varchar](500) NULL,
	[CHAR07] [varchar](500) NULL,
	[CHAR08] [varchar](500) NULL,
	[CHAR09] [varchar](500) NULL,
	[CHAR10] [varchar](500) NULL,
	[CHAR11] [varchar](500) NULL,
	[CHAR12] [varchar](500) NULL,
	[CHAR13] [varchar](500) NULL,
	[CHAR14] [varchar](500) NULL,
	[CHAR15] [varchar](500) NULL,
	[CHAR16] [varchar](500) NULL,
	[CHAR17] [varchar](500) NULL,
	[CHAR18] [varchar](500) NULL,
	[CHAR19] [varchar](500) NULL,
	[CHAR20] [varchar](500) NULL,
	[CHAR21] [varchar](500) NULL,
	[CHAR22] [varchar](500) NULL,
	[CHAR23] [varchar](500) NULL,
	[CHAR24] [varchar](500) NULL,
	[CHAR25] [varchar](500) NULL,
	[CHAR26] [varchar](500) NULL,
	[CHAR27] [varchar](500) NULL,
	[CHAR28] [varchar](500) NULL,
	[CHAR29] [varchar](500) NULL,
	[CHAR30] [varchar](500) NULL,
	[CHAR31] [varchar](500) NULL,
	[CHAR32] [varchar](500) NULL,
	[CHAR33] [varchar](500) NULL,
	[CHAR34] [varchar](500) NULL,
	[CHAR35] [varchar](500) NULL,
	[CHAR36] [varchar](500) NULL,
	[CHAR37] [varchar](500) NULL,
	[CHAR38] [varchar](500) NULL,
	[CHAR39] [varchar](500) NULL,
	[CHAR40] [varchar](500) NULL,
	[CHAR41] [varchar](500) NULL,
	[CHAR42] [varchar](500) NULL,
	[CHAR43] [varchar](500) NULL,
	[CHAR44] [varchar](500) NULL,
	[CHAR45] [varchar](500) NULL,
	[CHAR46] [varchar](500) NULL,
	[CHAR47] [varchar](500) NULL,
	[CHAR48] [varchar](500) NULL,
	[CHAR49] [varchar](500) NULL,
	[CHAR50] [varchar](500) NULL,
	[NUM01] [numeric](19, 2) NULL,
	[NUM02] [numeric](19, 2) NULL,
	[NUM03] [numeric](19, 2) NULL,
	[NUM04] [numeric](19, 2) NULL,
	[NUM05] [numeric](19, 2) NULL,
	[NUM06] [numeric](19, 2) NULL,
	[NUM07] [numeric](19, 2) NULL,
	[NUM08] [numeric](19, 2) NULL,
	[NUM09] [numeric](19, 2) NULL,
	[NUM10] [numeric](19, 2) NULL,
	[NUM11] [numeric](19, 2) NULL,
	[NUM12] [numeric](19, 2) NULL,
	[NUM13] [numeric](19, 2) NULL,
	[NUM14] [numeric](19, 2) NULL,
	[NUM15] [numeric](19, 2) NULL,
	[NUM16] [numeric](19, 2) NULL,
	[NUM17] [numeric](19, 2) NULL,
	[NUM18] [numeric](19, 2) NULL,
	[NUM19] [numeric](19, 2) NULL,
	[NUM20] [numeric](19, 2) NULL,
	[DATE01] [datetime2](7) NULL,
	[DATE02] [datetime2](7) NULL,
	[DATE03] [datetime2](7) NULL,
	[DATE04] [datetime2](7) NULL,
	[DATE05] [datetime2](7) NULL,
	[DATE06] [datetime2](7) NULL,
	[DATE07] [datetime2](7) NULL,
	[DATE08] [datetime2](7) NULL,
	[DATE09] [datetime2](7) NULL,
	[DATE10] [datetime2](7) NULL,
	[BILLINFO] [varchar](1000) NULL,
	[TRANSID] [varchar](100) NULL,
	[ISCSHBACK] [varchar](1) NULL,
	[UPDATEDT] [datetime2](7) NULL,
 CONSTRAINT [R_EBSTM_PKEY] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_WORKFLOW]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_WORKFLOW](
	[RECID] [bigint] IDENTITY(1,1) NOT NULL,
	[TXREFID] [varchar](100) NULL,
	[TXDT] [datetime2](7) NULL,
	[SERCODE] [varchar](100) NULL,
	[TXCODE] [varchar](50) NULL,
	[REQUESTMESS] [varchar](max) NULL,
	[RESPONSEMESS] [varchar](max) NULL,
	[WFDESC] [varchar](200) NULL,
	[STATUS] [varchar](1) NULL,
	[DTXDT] [datetime2](7) NULL,
 CONSTRAINT [R_WORKFLOW_PKEY] PRIMARY KEY CLUSTERED 
(
	[RECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSCONFIGURATION]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSCONFIGURATION](
	[FULL_PATH] [varchar](500) NOT NULL,
	[APP] [varchar](10) NULL,
	[DOMAIN] [varchar](10) NULL,
	[CONTENT] [varchar](max) NULL,
	[TYPE] [varchar](10) NULL,
	[SUB_TYPE] [varchar](10) NULL,
	[FOLDER_NAME] [varchar](500) NULL,
	[FOLDER_PATH] [varchar](500) NULL,
	[LASTMODIFIED] [datetime2](7) NULL,
 CONSTRAINT [PK_SYSCONFIGURATION] PRIMARY KEY CLUSTERED 
(
	[FULL_PATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSLOG]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSLOG](
	[FULL_PATH] [varchar](500) NOT NULL,
	[APP] [varchar](10) NULL,
	[DOMAIN] [varchar](10) NULL,
	[CONTENT] [varchar](max) NULL,
	[TYPE] [varchar](10) NULL,
	[SUB_TYPE] [varchar](10) NULL,
	[ACTION_USER_ID] [varchar](100) NULL,
	[TARGET_USER_ID] [varchar](100) NULL,
	[ACTION_CODE] [varchar](500) NULL,
	[CREATE_AT] [datetime2](7) NULL,
 CONSTRAINT [PK_SYSLOG] PRIMARY KEY CLUSTERED 
(
	[FULL_PATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSPORTAL]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSPORTAL](
	[PORTALCODE] [varchar](10) NULL,
	[DESCS] [varchar](100) NULL,
	[INSTALLDATETIME] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSPWDHISTORY]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSPWDHISTORY](
	[USER_ID] [varchar](100) NULL,
	[DOMAIN] [varchar](10) NULL,
	[PWDSTR] [varbinary](500) NULL,
	[CHANGE_ID] [varchar](100) NULL,
	[REMARK] [varchar](100) NULL,
	[CREATE_AT] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTOKENPORTAL]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTOKENPORTAL](
	[PORTALCODE] [varchar](10) NULL,
	[TOKEN] [varchar](500) NULL,
	[STATUS] [varchar](1) NULL,
	[EXPIREDATETIME] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSUSER]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSUSER](
	[USER_ID] [varchar](100) NULL,
	[FULL_NAME] [varchar](100) NULL,
	[EMAIL] [varchar](50) NULL,
	[DOMAIN] [varchar](10) NULL,
	[ISACTIVE] [varchar](1) NULL,
	[ISVERIFY] [varchar](1) NULL,
	[ISBLOCK] [varchar](1) NULL,
	[USER_TOKEN] [varchar](500) NULL,
	[REQUESTPWD] [varchar](1) NULL,
	[CREATEDT] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSUSERCONFIG]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSUSERCONFIG](
	[APP] [varchar](10) NULL,
	[USER_ID] [varchar](100) NULL,
	[DOMAIN] [varchar](10) NULL,
	[APP_STATUS] [varchar](1) NULL,
	[STATUS] [varchar](1) NULL,
	[NAME] [varchar](100) NULL,
	[BRANCHID] [varchar](10) NULL,
	[BRANCHNAME] [varchar](50) NULL,
	[USER_API] [varchar](500) NULL,
	[PROFILE_URL] [varchar](500) NULL,
	[LANG] [varchar](10) NULL,
	[USER_CONFIG] [varchar](500) NULL,
	[CREATEDT] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSUSERPIN]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSUSERPIN](
	[USER_ID] [varchar](100) NULL,
	[USER_PIN] [varchar](6) NULL,
	[HASH_PIN] [varbinary](500) NULL,
	[CREATE_AT] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSUSERPORTAL]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSUSERPORTAL](
	[PORTALCODE] [varchar](10) NULL,
	[USER_ID] [varchar](100) NULL,
	[TOKEN] [varchar](500) NULL,
	[STATUS] [varchar](1) NULL,
	[EXPIREDT] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSUSERPROFILE]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSUSERPROFILE](
	[USER_ID] [varchar](100) NULL,
	[DOMAIN] [varchar](10) NULL,
	[DOB] [datetime2](7) NULL,
	[ADDRESS] [varchar](100) NULL,
	[PHONE_NUMBER] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSUSERPWD]    Script Date: 11/5/2025 12:33:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSUSERPWD](
	[USER_ID] [varchar](100) NULL,
	[USER_PWD] [varchar](20) NULL,
	[HASH_PWD] [varbinary](500) NULL,
	[CREATE_AT] [datetime2](7) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[D_APIM] ADD  CONSTRAINT [DF_APIM_CREATEAT]  DEFAULT (getutcdate()) FOR [CREATE_AT]
GO
ALTER TABLE [dbo].[D_BRANCHCODE] ADD  CONSTRAINT [DF_BRANCHCODE_CREATEDT]  DEFAULT (getdate()) FOR [CREATEDT]
GO
ALTER TABLE [dbo].[D_CARDLST] ADD  CONSTRAINT [DF_CARD_MAKER]  DEFAULT ('jcardadmin') FOR [MAKER]
GO
ALTER TABLE [dbo].[D_CARDLST] ADD  CONSTRAINT [DF_CARD_APPROVER]  DEFAULT ('jcardadmin') FOR [APPROVER]
GO
ALTER TABLE [dbo].[D_CARDLST] ADD  CONSTRAINT [DF_CARD_CREATEDT]  DEFAULT (getdate()) FOR [CREATEDT]
GO
ALTER TABLE [dbo].[D_CASHACNO] ADD  CONSTRAINT [DF_CASHAC_CREATEDT]  DEFAULT (getdate()) FOR [CREATEDT]
GO
ALTER TABLE [dbo].[D_EBSTM] ADD  CONSTRAINT [DF_EBSTM_TXREFID]  DEFAULT (lower(newid())) FOR [TXREFID]
GO
ALTER TABLE [dbo].[D_EBSTM] ADD  CONSTRAINT [DF_EBSTM_TXDT]  DEFAULT (getutcdate()) FOR [TXDT]
GO
ALTER TABLE [dbo].[D_EBSTM] ADD  CONSTRAINT [DF_EBSTM_DTXDT]  DEFAULT (getdate()) FOR [DTXDT]
GO
ALTER TABLE [dbo].[D_EBSTM] ADD  CONSTRAINT [DF_EBSTM_DVALUEDT]  DEFAULT (CONVERT([date],getdate())) FOR [DVALUEDT]
GO
ALTER TABLE [dbo].[D_FEEDEF] ADD  CONSTRAINT [DF_FEEDEF_CREATEDT]  DEFAULT (getdate()) FOR [CREATEDT]
GO
ALTER TABLE [dbo].[D_GLCOLLECTFEE] ADD  CONSTRAINT [DF_GLCOLLECTFEE_CREATEDT]  DEFAULT (getdate()) FOR [CREATEDT]
GO
ALTER TABLE [dbo].[D_OFFLINEFEES] ADD  CONSTRAINT [DF_OFFLINEFEES_CREATEDT]  DEFAULT (getdate()) FOR [CREATEDT]
GO
ALTER TABLE [dbo].[D_OTPINFO] ADD  CONSTRAINT [DF_OTPINFO_EXPIREDATETIME]  DEFAULT (dateadd(minute,(3),getutcdate())) FOR [expiredatetime]
GO
ALTER TABLE [dbo].[D_SCHEDULECONFIGURATION] ADD  CONSTRAINT [DF_SCHEDULE_CREATEAT]  DEFAULT (getutcdate()) FOR [CREATE_AT]
GO
ALTER TABLE [dbo].[D_TXDEF] ADD  CONSTRAINT [DF_TXDEF_CREATEDT]  DEFAULT (getdate()) FOR [createdt]
GO
ALTER TABLE [dbo].[SYSCONFIGURATION] ADD  CONSTRAINT [DF_SYSCONFIGURATION_FULLPATH]  DEFAULT (concat('/apps/domain1/backoffice/configure/',replace(lower(newid()),'-',''),'.json')) FOR [FULL_PATH]
GO
ALTER TABLE [dbo].[SYSCONFIGURATION] ADD  CONSTRAINT [DF_SYSCONFIGURATION_DT]  DEFAULT (getutcdate()) FOR [LASTMODIFIED]
GO
ALTER TABLE [dbo].[SYSLOG] ADD  CONSTRAINT [DF_SYSLOG_FULLPATH]  DEFAULT (concat('/apps/domain1/backoffice/monitor/log/',replace(lower(newid()),'-',''),'.txt')) FOR [FULL_PATH]
GO
ALTER TABLE [dbo].[SYSLOG] ADD  CONSTRAINT [DF_SYSLOG_DT]  DEFAULT (getutcdate()) FOR [CREATE_AT]
GO
ALTER TABLE [dbo].[SYSPORTAL] ADD  CONSTRAINT [DF_PORTAL_INSTALLDT]  DEFAULT (getutcdate()) FOR [INSTALLDATETIME]
GO
ALTER TABLE [dbo].[SYSPWDHISTORY] ADD  CONSTRAINT [DF_PWDHISTORY_CREATEAT]  DEFAULT (getutcdate()) FOR [CREATE_AT]
GO
ALTER TABLE [dbo].[SYSUSER] ADD  CONSTRAINT [DF_USER_CREATEDT]  DEFAULT (getutcdate()) FOR [CREATEDT]
GO
ALTER TABLE [dbo].[SYSUSERCONFIG] ADD  CONSTRAINT [DF_USERCONFIG_CREATEDT]  DEFAULT (getutcdate()) FOR [CREATEDT]
GO
ALTER TABLE [dbo].[SYSUSERPIN] ADD  CONSTRAINT [DF_USERPIN_CREATEAT]  DEFAULT (getutcdate()) FOR [CREATE_AT]
GO
ALTER TABLE [dbo].[SYSUSERPWD] ADD  CONSTRAINT [DF_USERPWD_CREATEAT]  DEFAULT (getutcdate()) FOR [CREATE_AT]
GO
